# Automatically normalize line endings for all text-based files.
# https://git-scm.com/docs/gitattributes#_end_of_line_conversion
#
* text=auto
config/bash/* text eol=lf
config/fish/* text eol=lf
config/wsl/* text eol=lf
wsl.sh text eol=lf