name: Continuous Integration
run-name: Analyze script and run tests
on:
  pull_request:
    branches: ["main"]
jobs:
  Run-PSScriptAnalyzer:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Run PSScriptAnalyzer
        uses: microsoft/psscriptanalyzer-action@v1.1
        with:
          path: .\
          recurse: true
          output: results.sarif
      - name: Upload SARIF results file
        uses: github/codeql-action/upload-sarif@v2
        with:
          sarif_file: results.sarif
  Run-Tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Run Pester tests
        shell: pwsh
        run: |
          Invoke-Pester -Script .\ -Passthru